
@{
    ViewBag.Title = "Index";
}

<link href="~/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- Button -->
<div class="card-body">
    <button onclick="abrirModal(0)" class="btn btn-success" type="button" data-toggle="modal" data-target="#exampleModalXl">
        <i class="fas fa-newspaper"></i> Nuevo Conductor
    </button>
</div>

<!-- Modal Register -->
<div class="modal fade" id="exampleModalXl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conductor</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-header">Imagen Producto</div>
                            <div class="card-body text-center">
                                <img class="borrar" id="imgFoto" width="100" height="100" style="border: 1px solid" />
                                <div class="small font-italic text-muted mb-4">Recomendación 300x300</div>
                                <div class="form-group">
                                    <input type="file" class="borrar form-control" id="fileToUpload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="card mb-4">
                            <div class="card-header">Datos Conductor</div>
                            <div class="card-body">
                                <form action="/" method="post">
                                    <div class="form-group">
                                        <input class="borrar form-control" id="txtidconductor" type="hidden" />
                                        <input class="form-control" id="txtidempresa" type="hidden" />
                                    </div>

                                    <div class="form-group">
                                        <label>Dni</label>
                                        <input class="borrar form-control" id="txtdni" type="number">
                                        <button type="button" id="btnconsultar" class="btn btn-primary">Consultar</button>
                                    </div>
                                    <div class="form-group">
                                        <label>Nombres</label>
                                        <input class="borrar form-control" id="txtnombres" type="text" placeholder="Nombres">
                                    </div>
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input class="borrar form-control" id="txtapellidos" type="text" placeholder="Apellidos">
                                    </div>
                                    <div class="form-group">
                                        <label>Correo</label>
                                        <input class="borrar form-control" id="txtcorreo" type="text" placeholder="Correo">
                                    </div>
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input class="borrar form-control" id="txtclave" type="text" placeholder="Contraseña">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button onclick="Agregar()" type="button" class="btn btn-success">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">CONDUCTORES</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive" id="tabla">
            
        </div>
    </div>
</div>

<script src="~/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/assets/js/sb-admin-2.min.js"></script>

<script src="~/Scripts/Conductor.js"></script>
<script src="~/Scripts/js/Conductor.js"></script>
<!-- Page level plugins -->
<script src="~/assets/vendor/datatables/jquery.dataTables.min.js"></script>


<!-- Page level custom scripts -->
<script src="~/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/assets/js/demo/datatables-demo.js"></script>
